<nav class="menu">
	<ul class="menu__inner">
		{{- $currentPage := . -}}
		{{ range .Site.Menus.main }}
		{{ if .HasChildren }}
		<div class="submenu">
			<li class="dropdown">
				<a href="{{ .URL }}">
					{{ .Name }}
				</a>
				<div class="dropdown-content">
					{{ range .Children }}
					<a title="{{ .Name }}" href="{{ .URL }}">
						{{ .Name }}
					</a>
					{{ end }}
				</div>
			</li>
		</div>
		{{ else }}
		<div class="submenu">
			<li class="dropdown">
				<a href="{{ .URL | relLangURL }}">
					{{ .Name }}
				</a>
			</li>
		</div>
		{{ end }}
		{{ end }}
		{{ if .Site.IsMultiLingual }}
		{{- if .Site.Params.EnableGlobalLanguageMenu }}
		{{ $siteLanguages := site.Languages}}
		{{ $pageLang := .Page.Lang}}
		{{- range .Page.AllTranslations }}
		{{ $translation := . }}
		{{- range sort $siteLanguages "Weight" "asc" }}
		{{- if eq $translation.Lang .Lang }}
		{{ if eq $pageLang .Lang}}
		<a class="flagselect" href="{{ $translation.Permalink | relURL }}">{{ .Params.languageNameShort }}</a>
		{{ else }}
		<a class="flagnoselect" href="{{ $translation.Permalink | relURL }}">{{ .Params.languageNameShort }}</a>
		{{ end }}
		{{- end }}
		{{- end }}
		{{- end }}
		</div>
		</li>
		</div>
		{{- end }}
		{{ end }}
	</ul>
</nav>
